

footer{
    padding-top: 3rem;
    color:white;
    ul{
        padding-left: 2rem;
        li{

            list-style: none;
        }
    }
    
    i{
        .fab .fas{
            padding: 3rem 5rem;
    }
    }
}
